name: Release
on:
  push:
    tags:
      - '*'
jobs:
  automate:
    runs-on: ubuntu-22.04
    env:
      RELEASE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RELEASE_NOTIFICATION_URL: ${{ secrets.RELEASE_NOTIFICATION_URL }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - run: npm install -g npm@latest
      - run: yarn
      - run: yarn global add knex-migrator ember-cli
      - run: yarn setup
      - run: yarn build
      - run: yarn archive
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ghost-*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
